.container{
  display: flex;
}

.editor {
  height: 100%;
  //display: flex;
}

.leftContent{
  flex: 1;
  height: 100%;
  border: 1px solid;
  border-radius: 3px;
}

.rightContent {
  flex: 1;
  height: 100%;
  border: 1px solid;
  border-radius: 3px;
}