.container{
  display: flex;
}

.editor {
  height: 100%;
  //display: flex;
  & :global {
    font-size: 16px;
    line-height: 1.5em;
    .title {
      & > input {
        width: 100%;
        font-size: 14px;
        border:none;
        outline: none;
      }
    }
    .markdown {
      width: 100%;
      height: calc(100vh - 100px);
      & :global {
        .mditor {
          height: 100% !important;
        }
      }
    }
  }
}

.leftContent{
  flex: 1;
  height: 100%;
  border: 1px solid;
  border-radius: 3px;
}

.rightContent {
  flex: 1;
  height: 100%;
  border: 1px solid;
  border-radius: 3px;
}



.page-header {
  color: #fff;
  background: #191818;
  margin: 0;
  padding: 10px 20px;
}

.editor-pane {
  position: fixed;
  top: 57px;
  left: 0;
  bottom: 0;
  width: 50%;
  height: auto;
  overflow: auto;
  box-shadow: -10px 2px 6px 10px rgba(0,0,0,0.4);
}

.result-pane > div {
  position: fixed;
  top: 57px;
  right: 0;
  left: 50%;
  bottom: 0;
  overflow: auto;
  padding: 10px;
  padding-left: 20px;
  color: #444;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 1.5em;
}

pre {
  border: 1px solid #ccc;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}
