.chooser {
  display: flex;
  align-items: center;
  justify-content: center;

  > button {
    width: 20px;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    //color: #CED0DA;
    background-color: transparent;
    border: 0;
    > i {
      display: block;
    }

    &:hover,
    &:focus {
      color: lighten(#CED0DA, 10);
      background-color: transparent;
    }
  }

  input {
    height: auto;
    width: 140px;
    font-size: 14px;
    //color: #FFF;
    text-align: center;
    //background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: transparent;
    }

    + span {
      // icon
      display: none;
    }
  }
}

